.page-container{
    padding: 0;
width: 100%;
display: block;
box-sizing: border-box;
}
.page-navbar{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color:pink;
    display: flex;
}
.navbar-cycle{
    display: flex;
    flex-wrap: nowrap;
    background-color:blue;
}
.navbar-cycle > .cycle-item{
    background-color: #f1f1f1;
    font-size: 0.8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}