/* General */
body {
    background-color: var(--color-pink-light-light);
    min-width: 200px; /* Suppose you want minimum width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
    width: 1000px; /* As IE6 ignores !important it will set width as 1000px; */
}

* {
    font-family: "Open Sans", sans-serif;
    font-size: var(--xxs3);
}

/* Navbar  */
.logo-text {
    font-size: var(--s2);
    color: var(--color-white);
    font-family: "Satisfy", cursive;
}

.page-navbar > a {
    color: var(--color-white);
}

.cycle-item {
    color: var(--color-violet);
}

a {
    text-decoration-line: none;
}

.page-navbar {
    padding: var(--xs) var(--xs) var(--xs) var(--xs);
    background-color: var(--color-violet);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--m2);
}

.navbar-cycle {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 800px) {
    .navbar-cycle {
        display: none;
    }
}

.navbar-cycle > .cycle-row {
    padding-left: var(--xs);
    padding-right: var(--xs);
    color: var(--color-white);
}

.navbar-cycle > .cycle-item {
    background-color: var(--color-white);
    font-size: var(--xxs2);
    padding: var(--xxs) var(--xs) var(--xxs) var(--xs);
    margin: 0;
    border: 0;
    width: var(--xl);
    text-align: center;
    align-self: center;
    display: inline-block;
    border-radius: 10%;
    line-height: 10%;
}

.cycle-item[active] > a > h2 {
    color: var(--color-violet);
}

.cycle-item[active] {
    background-color: var(--color-pink-light);
}

.cycle-item[active] > a > h2:hover {
    color: var(--color-white);
}

/* index.html */
.content-container {
    padding-top: var(--l2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.info-elements > h3 {
    font-size: var(--xs3);
    margin-top: 0;
}

.info-elements > p {
    font-size: var(--xs2);
}

button {
    padding: var(--xs) var(--s);
    font-size: var(--xs2);
    align-self: center;
    outline: none;
    color: var(--color-white);
    background-color: var(--color-violet);
    border: none;
    border-radius: 10%;
    box-shadow: 0 2px var(--color-grey-shadow);
}

.content-box-child {
    display: inherit;
    background-color: var(--color-white);
    width: var(--xxl2);
    height: var(--xxl2);
    border-radius: 10%;
    margin: var(--xs);
}

.content-box-child > img {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

/* topics.html  */
.content-container-topics {
    margin: var(--xs);
}

.page-header {
    font-size: var(--xs3);
    margin-top: var(--m);
}

.topic-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.topic-box {
    width: var(--xxl2);
    height: var(--xxl2);
    margin: var(--xs);
}

.topic-box > * {
    margin: var(--xs);
}

.topic-box > img {
    border-radius: 10%;
    max-width: 90%;
    max-height: 90%;
}

/* room.html */
.room-content-container {
    padding-top: var(--xs);
}

.countdown {
    align-self: center;
    text-align: center;
}

.mission-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mission-container > * {
    margin: var(--s);
}

.info-container {
    background-color: var(--color-white);
    width: var(--xxl2);
    height: var(--xxl2);
    border-radius: 10%;
    margin: var(--xs);
}

.info-elements {
    padding: var(--m3);
}

.info-elements > h4,
li {
    font-size: var(--xs2);
}

.info-elements > h2 {
    font-size: var(--xs3);
}

.match-video-container {
    position: relative;
    background-color: var(--color-camera-box1);
    width: var(--xxl2);
    height: var(--xxl2);
    border-radius: 10%;
    display: block;
    overflow: hidden;
    display: block;
    overflow: hidden;
}

.my-video-container {
    position: absolute;
    background-color: var(--color-camera-box2);
    margin: 0;
    height: var(--l);
    width: var(--l);
    right: var(--xs);
    bottom: var(--xs);
    border-radius: 10%;
    display: block;
    overflow: hidden;
}

#countdown-clock {
    margin: 0;
    font-size: var(--xs3);
}
.speech-output-container {
    margin: 0% 10%;
    background-color: var(--color-white);
    height: var(--l2);
    display: grid;
}

#js-speech-ul {
    resize: none;
    font-size: var(--xs);
}

.room-finish-line {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.room-finish-btn {
    grid-column-start: 6;
    grid-column-end: 6;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--color-pink-light);
    color: var(--color-violet);
}

button:active {
    background-color: var(--color-violet-dark);
    color: var(--color-white);
}

#remoteVideo {
    position: relative;
    background-color: var(--color-camera-box1);
    width: var(--xxxl);
    margin-left: -15%;
}

#webcamVideo {
    position: initial;
    background-color: var(--color-camera-box2);
    width: var(--l3);
    margin-left: -15%;
}

/* evaluation.html */
.content-container-eval {
    margin: var(--l);
    width: var(--xxl);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.text-container {
    margin-bottom: var(--m);
}

.score-res {
    font-size: var(--l);
}

.score-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.score-success {
    color: var(--color-green);
}

.score-success > h3 {
    text-align: center;
    font-size: var(--xs3);
}

.score-fail {
    color: var(--color-red);
}

.score-fail > h3 {
    text-align: center;
    font-size: var(--xs3);
}

/* aboutus.html */

.aboutus-container {
    padding: var(--xs3);
}

.decoration-box {
    display: inherit;
    background-color: var(--color-white);
    width: var(--xxl);
    height: var(--xl2);
    border-radius: 10%;
    margin: var(--xs);
}

.decoration-box > img {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-content: center;
}