.logo-text{
    font-size: 2.5rem;
    color: white;
    font-family: 'Satisfy', cursive;
}
.page-navbar > a{
    color: white;
}
.cycle-item{
    color: #543454;
}

*{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration-line: none;
}

.page-container{
    height: 100%;
}

.page-navbar{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #543454;
    display: flex;
    flex-direction:row;
    justify-content : space-between;
    align-items : center
}

.navbar-cycle{
    display: flex;
    flex-wrap: nowrap;
}
.navbar-cycle > .cycle-row{
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}
/* #D6B8D6; */
.navbar-cycle > .cycle-item{
    background-color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin : 0rem;
    border: 0rem;
    width: 8rem;
    text-align: center;
    align-self: center;
    display: inline-block;
    border-radius: 10%;
    line-height: 10%;
}
.cycle-item[active] > a > h2{
    color: #543454;
    
}
.cycle-item[active]{
    background-color: #D6B8D6;
}
.cycle-item[active] > a > h2:hover{

    color: white;
    
}

.content-container{
    background-color: #e7dbe7;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.content-box-large{
    background-color: white;
    padding: 10rem;
    margin: 10rem;
    text-align: center;
    align-self: center;
    border-radius: 10%;
    width: 50%;
}

.content-box-large > img {
    width: 50%;
 }