:root {
    --xxs: 0.5rem;
    --xxs2: 0.8rem;
    --xxs3:0.9rem;
    --xs: 1rem;
    --xs2: 1.2rem;
    --xs3: 1.5rem;
    --s: 2rem;
    --s2: 2.5rem;
    --m: 3rem;
    --m2: 4rem;
    --m3: 4.5rem;
    --l: 5rem;
    --l2: 6rem;
    --l3: 6.7rem;
    --xl: 8rem;
    --xl2: 10rem;
    --xxl: 20rem;
    --xxl2: 30rem;
    --xxxl: 40rem;
    --color-pink-light-light: #e7dbe7;
    --color-pink-light: #D6B8D6;
    --color-violet: #543454;
    --color-violet-dark: #442a44;
    --color-grey-shadow:#999;
    --color-white: #fff;
    --color-camera-box1: #F5DEB3;
    --color-camera-box2: #AFEEEE;
    --color-green: #008000;
    --color-red: #FF0000;
}
    
